<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/reporte_nomina</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">PoiZxc357</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="model/Departamento.hbm.xml"/>
    <mapping resource="model/DocenteDetalles.hbm.xml"/>
    <mapping resource="model/EmpleadoDepartamento.hbm.xml"/>
    <mapping resource="model/Empleado.hbm.xml"/>
    <mapping resource="model/Rubro.hbm.xml"/>
    <mapping resource="model/Quincena.hbm.xml"/>
    <mapping resource="model/Observacion.hbm.xml"/>
    <mapping resource="model/Funcion.hbm.xml"/>
    <mapping resource="model/Docentes.hbm.xml"/>
    <mapping resource="model/Xlsresultado.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
